.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 0rem 1.1rem;
  max-width: 50rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.logo {
  width: 12rem;
}

.intro {
  margin-top: 3rem;
  font-size: 1.2rem;
  color: rgb(63, 63, 63)
}

.buttons {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;

}

.button {
  padding: 0.8rem 2rem;
  margin-right: 2rem;
  background: black;
  border: none;
  border-radius: 0.4rem;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s;
}

.button:hover {
  background: rgb(20, 20, 20);
}

.link {
  color: black;
  margin-right: 2rem;
  font-size: 1rem;
}

.link:hover {
  text-decoration: underline;
}

.link::after {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
  margin: 0 3px 0 5px;
}


@media (max-width: 600px) {
  .buttons {
    flex-direction: column;
  }

  .buttons * {
    margin: 0;
  }

  .link {
    margin-top: 1.2rem;
  }
}
